# Files and directories created by pub
.dart_tool/
.packages

# Do not version the sdk versions
versions/
.DS_Store

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

# Test Coverage
test/.test_coverage.dart

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.classpath
.project
.settings/
.vscode/
coverage/lcov.info


.vscode/settings.json
packages/cli/test/.test_coverage.dart
packages/cli/.env
.env
node_modules
test/.test_cov.dart
test/support_assets/dart_package/lib/src/version.dart


coverage/test
.failed_tracker
coverage/html
test/support_assets/*/pubspec.lock
test/support_assets/*/pubspec.lock

# FVM Version Cache
.fvm
.fvmrc
