/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #8267c0;
  --ifm-color-primary-dark: #553b90;
  --ifm-color-primary-darker: #3f2c6b;
  --ifm-color-primary-darkest: #271b44;
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.hero {
  align-items: center;
  background-color: var(--ifm-color-primary-darkest);
  color: var(--ifm-hero-text-color);
  display: flex;
  padding: 4rem 2rem;
}

.hero--primary {
  --ifm-hero-background-color: var(--ifm-color-primary-darker);
  --ifm-hero-text-color: var(--ifm-font-color-base-inverse);
}

.hero--dark {
  --ifm-hero-background-color: #303846;
  --ifm-hero-text-color: var(--ifm-color-white);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
