name: Fetch Data
on:
  schedule:
    - cron: 0 * * * *
  workflow_dispatch: {}

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: v1.x

      - name: Check out repo
        uses: actions/checkout@v4

      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://storage.googleapis.com/flutter_infra_release/releases/releases_macos.json
          downloaded_filename: releases_macos.json
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://storage.googleapis.com/flutter_infra_release/releases/releases_windows.json
          downloaded_filename: releases_windows.json
      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://storage.googleapis.com/flutter_infra_release/releases/releases_linux.json
          downloaded_filename: releases_linux.json
