name: Deploy Windows

on:  
    workflow_dispatch:

jobs:
    deploy-windows:
        name: Deploy (Windows)
        runs-on: windows-latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CHOCOLATEY_TOKEN: ${{ secrets.CHOCOLATEY_TOKEN }}
        steps:
          - name: Checkout
            uses: actions/checkout@v4
    
          - name: Prepare environment
            uses: ./.github/actions/prepare
            with:
              sdk-version: "3.10.0"

          - name: Get release tool dependencies
            working-directory: tool/release_tool
            run: dart pub get
    
          - name: Deploy Github Windows
            working-directory: tool/release_tool
            run: dart run grinder pkg-github-windows
    
          - name: Deploy Chocolatey (Windows)
            working-directory: tool/release_tool
            run: dart run grinder pkg-chocolatey-deploy
