name: Deploy Release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

env:
  PUB_CREDENTIALS: ${{ secrets.PUB_CREDENTIALS }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:

  test:
    name: Test
    uses: ./.github/workflows/test.yml

  release:
    name: Release
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare environment
        uses: ./.github/actions/prepare
        with:
          sdk-version: "3.10.0"

      - name: Generate code with build_runner
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Get release tool dependencies
        working-directory: tool/release_tool
        run: dart pub get

      - name: Deploy Github
        working-directory: tool/release_tool
        run: dart run grinder pkg-github-release

      - name: Deploy Github Linux
        working-directory: tool/release_tool
        run: dart run grinder pkg-github-linux

      - name: Deploy to Pub
        working-directory: tool/release_tool
        run: dart run grinder pkg-pub-deploy

  deploy-windows:
        name: Deploy Windows
        runs-on: windows-latest
        needs: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CHOCOLATEY_TOKEN: ${{ secrets.CHOCOLATEY_TOKEN }}
        steps:
          - name: Checkout
            uses: actions/checkout@v4

          - name: Prepare environment
            uses: ./.github/actions/prepare
            with:
              sdk-version: "3.10.0"

          - name: Generate code with build_runner
            run: dart run build_runner build --delete-conflicting-outputs

          - name: Get release tool dependencies
            working-directory: tool/release_tool
            run: dart pub get

          - name: Deploy Github Windows
            working-directory: tool/release_tool
            run: dart run grinder pkg-github-windows

          - name: Deploy Chocolatey
            working-directory: tool/release_tool
            run: dart run grinder pkg-chocolatey-deploy

  deploy-macos:
      name: Deploy macOS
      runs-on: macos-latest
      needs: release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare environment
        uses: ./.github/actions/prepare
        with:
          sdk-version: "3.10.0"

      - name: Generate code with build_runner
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Get release tool dependencies
        working-directory: tool/release_tool
        run: dart pub get

      - name: Deploy Github Mac
        working-directory: tool/release_tool
        run: dart run grinder pkg-github-macos

      - name: Deploy versioned formula
        working-directory: tool/release_tool
        run: dart run grinder pkg-homebrew-update --versioned-formula
        env:
          GITHUB_TOKEN: ${{ secrets.HOMEBREW_FVM_GH_TOKEN }}

      - name: Deploy Homebrew
        working-directory: tool/release_tool
        run: dart run grinder pkg-homebrew-update
        env:
          GITHUB_TOKEN: ${{ secrets.HOMEBREW_FVM_GH_TOKEN }}

  deploy-docker:
    name: Deploy Docker
    runs-on: ubuntu-latest
    needs: release
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prepare environment
        uses: ./.github/actions/prepare

      - name: Generate code with build_runner
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Get and modify tag name
        id: get_tag_name
        run: |
          # Extract the tag name from the GitHub ref
          TAG_NAME=${{ github.ref_name }}

          # Remove leading 'v' from the tag name, if present
          MODIFIED_TAG_NAME=$(echo "$TAG_NAME" | sed 's/^v//')

          # Set the modified tag name as an environment variable
          echo "MODIFIED_TAG_NAME=$MODIFIED_TAG_NAME" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          file: ./.docker/Dockerfile
          push: true
          tags: leoafarias/fvm:${{ env.MODIFIED_TAG_NAME }}
          build-args: |
            FVM_VERSION=${{ env.MODIFIED_TAG_NAME }}
