name: Create Release

on:
  push:
    tags:
      - "v*"

jobs:
  test:
    name: "${{ matrix.sdk-version }} / ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        sdk-version: [stable] #, dev]
        include:
          - os: macOS-latest
            TARGET: macos
          - os: ubuntu-latest
            TARGET: linux
          - os: windows-latest
            TARGET: windows

    steps:
      - uses: actions/checkout@v1
      - uses: dart-lang/setup-dart@v1.5.0

      - name: Install dependencies
        run: dart pub get

      - run: ./scripts/build_version.dart
      - run: ./bin/fvm.dart install master
      - run: dart test

  release:
    name: Release
    needs: test
    runs-on: ubuntu-latest
    env:
      PUB_CREDENTIALS: ${{ secrets.PUB_CREDENTIALS }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v1
      - uses: dart-lang/setup-dart@v1.5.0

      - run: dart pub get

      - run: ./scripts/build_version.dart

      - name: Deploy Github
        run: dart pub run grinder pkg-github-all

      - name: Deploy to Pub
        run: dart pub run grinder pkg-pub-deploy
